* {
  color-scheme: light;
}

.light-mode {
  background-color: #fff;
}

.dark-mode {
  background-color: #222;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.logo {
  width: 370px;
}

.dark-mode-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  font-size: 24px;
  cursor: pointer;
}

.dark-mode-button:hover {
  color: #fff;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.dark-mode h2 {
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 99px;
  background-color: #e6ecf0;
  font-size: 14px;
  color: #000;
}

.dark-mode input {
  background-color: #333;
  color: #fff;
}

button {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 99px;
  background-color: #1da1f2;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.dark-mode button {
  background-color: #333;
}

button:hover {
  background-color: #0c8ed9;
}

.dark-mode button:hover {
  background-color: #555;
}

.error-message {
  color: red;
  font-size: 14px;
  margin: 7px;
  font-weight: bold;
}

.loginHeaderTitle {
  text-align: center;
}

.theme-button {
  position: relative;
  border: none;
  width: 4rem;
  height: 2rem;
  margin-top: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.theme-button:focus {
  outline: none;
}

.theme-button .button-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.slide-to-sun {
  transform: translate(-150%, -50%);
}

.slide-to-moon {
  transform: translate(50%, -50%);
}

.moon-icon,
.sun-icon {
  transition: opacity 0.3s ease-in-out;
}

.theme-dark .sun-icon {
  opacity: 0;
}

.theme-light .moon-icon {
  opacity: 0;
}

.buttonLightMode {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}

.imgHeaderLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 27%;
}